<div class="container">

  <div class="row" style="margin-top: 30px;">
    <div class="col-12 col-lg-8 mx-auto">
      <app-filter></app-filter>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-8 mx-auto">
      <app-chart></app-chart>
    </div>
  </div>

  <div class="row" style="margin-top: 30px;">
    <div class="col-12 col-lg-8 mx-auto">
      <app-chart2></app-chart2>
    </div>
  </div>

  <div class="row" style="margin-top: 30px;">
    <div class="col-12 col-lg-8 mx-auto">
      <app-chart3></app-chart3>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-10 mx-auto" style="margin-top: 30px;margin-bottom: 40px;">
      <app-table></app-table>
    </div>
  </div>

</div>




